{% load static %}


<div class="container-fluid banner1">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner container">
          <div class="carousel-item active"  data-interval="3000">
            <!-- tihs is whr u put ur images -->
            <img src="{% static '' %}img/dishes.jpg" class="d-block w-100 h-50" alt="...">
              <!-- seach bar code -->
              <div class="carousel-caption d-none d-md-block">
              <form class="form-inline mb-5 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <h5>Different Special Taste</h5>
              <p>Order For Newly Made Tasty Food</p>
            </div>
          </div>
          <div class="carousel-item " data-interval="3000">
            <img src="{% static '' %}img/clean.jpg" class="d-block w-100 h-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Different Special Taste</h5>
              <p>Order For Newly Made Tasty Food</p>
            </div>
          </div>
          <div class="carousel-item"  data-interval="3000">
            <img src="{% static '' %}img/man.jpg" class="d-block w-100 h-50 mx-auto " id="img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Different Special Taste</h5>
              <p>Order For Newly Made Tasty Food</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>