{% extends "base.html" %}
{% load static %}
{% load humanize %}



<!-- title section -->
{% block title %} | Meals{% endblock title %}

<!-- header section -->
{% block header %}
  {% include "heder.html" %}
{% endblock header %}

{% block content %}
<div>
  <form action="{% url 'password_recovery' %}" method="POST" enctype="multipart/form-data" class="el ml-5 mt-3">
    {% csrf_token %}
    {{form.as_p}}

    <div class="">
      <button class="btn btn-outline-success w-25 mt-4">Submit</button>
      <!-- <input type="submit" class="btn btn-primary w-75 mt-4" value="Submit"> -->
    </div>
  </form>
</div>
            
 
{% endblock content %}


<!-- prefoot -->
{% block prefoot %}
    {% include 'prefoot_one.html' %}
{% endblock prefoot %}
