
<div class="prefooter1">
    <div class="prefooter2 container ml-1">   <!--style="background: rgb(253, 251, 251);"-->
        <div class="innerprefooter1 container w-100">   
            <div class=" tent6 mt-5">
                <div class="img5">
                    <h1><strong>FOODLUM</strong></h1>
                </div>
                <button><a href="#"><i class="fab fa-facebook-f  fat "></i></a></button>
                <button><a href="#"><i class="fab fa-twitter fat"></i></a></button>
                <button><a href="#"><i class=" fab fa-linkedin-in fat"></i></a></button>
                <button><a href="#"><i class="fab fa-google-plus-g fat"></i></a></button>
                <button><a href="#"><i class="fab fa-snapchat-ghost fat"></i></a></button>
                <button><a href="#"><i class=" fab fa-telegram-plane fat"></i></a></button>
                <button><a href="#"><i class=" fab fa-whatsapp fat"></i></a></button>
                <button><a href="#"><i class="  fab fa-vk fat"></i></a></button>
            </div>
            <div class=" tent6 mt-5">
                <h4>Address</h4>
                <div>
                    <i class="fas fa-map-marker-alt fat"></i>
                <small>Anchorsoft Academy </small>
                </div>
                <div>
                    <i class="fas fa-phone fat"></i>
                    <small>+2349047385938 </small><br>
                    <small class="sm ml-3">+2348139315800</small>
                </div>
                <div>
                    <i class="fas fa-envelope fat"></i>
                    <small>demo@gmail.com</small>
                </div>
            </div>
    
            <div class="tent6 mt-5">
                <div class="semitent6 ">
                    <div>
                        <h4>Openning Hours</h4>
                    </div>
                    <div>
                        <small>Monday: 07:00 - 21:00</small>
                    </div>
                    <div>
                        <small>Tuesday: 07:00 - 21:00</small>
                    </div>
                    <div>
                        <small>Wednesday: 07:00 - 21:00</small>
                    </div>
                    <div>
                        <small>Thursday: 10:00 - 21:00</small>
                    </div>
                    <div>
                        <small>Friday: 07:00 - 20:00</small>
                    </div> 
                    <div>
                        <small>Saturday: 07:00 - 21:00</small>
                    </div> 
                </div>
            </div>
    
            <div class="tent6 mt-5">
                <!-- <h4>Newsletter</h4>
    
                <div class="co">
                <input type="email" placeholder="Enter Your Email">
                </div>
                <br>
                <div class="ro">
                <input type="button" value="SUBSCRIBE">
                </div> -->
                <h4>Helpful Links</h4>
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">Meal Varieties</a></small>
                </div>
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">BreakFast</a></small>
                </div>
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">Lunch</a></small>
                </div> 
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">Dinner</a></small>
                </div> 
                <hr>
                <div>
                    <small>Support Maill</small><br>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">demo@gmail.com</a></small>
                </div>
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">FQA | Help</a></small>
                </div>
                <div>
                    <small><a href="" class="m" style="text-decoration: none;color: #000000;">About Us</a></small>
                </div>
            </div>
    
        </div>
    </div>

</div>